---
---

$tableWidth: 300px;
$listWidth: 400px;
$backgroundColor: lightblue;
$headerBackgroundColor: #f5f5f5;
$footerBackgroundColor: #f5f5f5;
$borderColor: #c0c0c0;
$selectionColor: gray;
$selectionBackgroundColor: purple;
$hoverColor: black;

body {
  background-color: $backgroundColor;
}

::selection {
  color: $selectionColor;
  background: $selectionBackgroundColor;
}

.nav {
  background-color: $headerBackgroundColor;
  border-bottom: 1px solid $borderColor;
}

a:hover {
  color: $hoverColor;
}

@media screen and (max-width: 600px) {
  .display-4 {
    font-size: 2.5rem;
  }
}

// Included to meet project requirements
%margin_20 {
  margin: 20px;
}

.list-group {
  @extend %margin_20;
  max-width: $listWidth;
}

#first-li {
  text-decoration: underline;
}

.table {
  @extend %margin_20;
  max-width: $tableWidth;
  text-align: center;
}

.footer {
  background-color: $footerBackgroundColor;
  border-top: 1px solid $borderColor;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  .container {
    width: auto;
    max-width: none;
    padding: 0 15px;
  }
}
