---
---

$tableWidth: 300px;
$listWidth: 400px;
$backgrounColor: lightblue;

body {
  background-color: $backgrounColor;
}

.list-group {
  margin: 20px;
  max-width: $listWidth;
}

.table {
  margin: 20px;
  max-width: $tableWidth;
  text-align: center;
}
